<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[From ICMS] Your Personal Course information Is Ready</title>
</head>
<body>
<h1>Hello {{ name }}! Here is the Course information you requested.</h1>
<h3><b>Course Code:</b></h3> <p style="white-space: pre-wrap;">{{courseCode}}</p> <br/>
<h3><b>Course Name:</b></h3> <p style="white-space: pre-wrap;">{{courseName}}</p> <br/>
<h3><b>Course Summary Information:</b></h3> <p style="white-space: pre-wrap;">{{courseSummary}}</p> <br/>
<h3><b>Teacher message:</b></h3> <p style="white-space: pre-wrap;">{{courseTeacherMessage}}</p> <br/>
<h3><b>Teaching Team:</b></h3> <p style="white-space: pre-wrap;">{{teachingTeam}}</p> <br/>
<h3><b>Assignment:</b></h3> <p style="white-space: pre-wrap;">{{assignment}}</p> <br/>
<h3><b>Lecture:</b></h3> <p style="white-space: pre-wrap;">{{lecture}}</p> <br/>
<h3><b>Tutorial:</b></h3> <p style="white-space: pre-wrap;">{{tutorial}}</p> <br/>
<h3><b>Other Course Materials:</b></h3> <p style="white-space: pre-wrap;">{{otherCourseMaterials}}</p> <br/>

<h1>Thank you for using ICMS!</h1>
</body>
</html>