<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[From ICMS] Your Personal Course information Is Ready</title>
</head>
<body>
<h1>Hello {{ name }}! Here is the Course information you requested.</h1>
<h3><b>Course Code:</b></h3> {{courseCode}} <br/>
<h3><b>Course Information:</b></h3> {{courseInfo}} <br/>
<h3><b>Teaching Team:</b></h3>  {{teachingTeam}} <br/>
<h3><b>Assignment:</b></h3> {{assignment}} <br/>
<h3><b>Lecture:</b></h3> {{lecture}} <br/>
<h3><b>Tutorial:</b></h3> {{tutorial}} <br/>

<h1>Thank you for using ICMS!</h1>
</body>
</html>